<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <title>Speech Recognition</title>
</head>
<body>
    <div id = "container">
        <h1>Upload a File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" id="submit" value="Transcribe">
        </form>

        {% if transcript != "" %}
        <div id = "transcript">
            <h1>Transcript:</h1>
            <p id = "output">{{transcript}}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
